<h1>
  <%= "New Trip for #{@user.name}" %>
</h1>
<%= form_for [@user, @trip], html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :location, class: "control-label" %>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date, class: "control-label" %>
    <%= f.text_field :date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cost, class: "control-label" %>
    <%= f.text_field :cost, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit nil, class: "btn btn-info" %>
  </div>
<% end %>
